<h1>Update Pet</h1>

<h2>Edits for <%= @pet.name %></h2>

<form action="/pets/<%= @pet.id %>" method="post">
<input id="hidden" type="hidden" name="_method" value="patch">

<h3>Edit pet name:</h3>
<label>Pet name:</label>
<input type="text" id="pet_name" name="pet[name]" value="<%= @pet.name %>">

<br/>
<label>Select</label>
<% @owners.each do |owner| %>
    <input type="radio" name="pet[owner_id]" id="<%= owner.id %>" value="<%= owner.id %>" <%= 'checked' if @pet.owner == owner %>><%= owner.name %>
<% end %>
<br/>

<label>or Create a new owner:</label>
<input type="text" id="owner_name" name="owner[name]"><br/>
<input type="submit" id="Update Pet" value="Update Pet" >
</form>
